.wrap {
    --bs-modal-width: 1000px;
}
.modal {
    --bs-modal-border-color: #4429f2;
    --bs-modal-header-border-color: #4429f2;
}
.modalHeader {
    color: white;
    background:#4429f2;
}

.contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}

.smallButton {
    padding: 6px;
}

.buttonStyle, .smallButton {
    --bs-btn-bg: #4429f2;
    --bs-btn-border-color: #4429f2;
    --bs-btn-hover-bg: rgba(125, 121, 242, 0.9);
    --bs-btn-hover-border-color: none;
    --bs-btn-active-bg: #4429f2;
    --bs-btn-active-border-color: #4429f2;
}

.title {
    font-weight: bold;
    color: #4429f2;
    font-size: 20px;
    margin-bottom: 1rem;
}

/* 조직도 */
.leftSide {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
}

.midSide {
    width: 110px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
}

.chartMember:hover {
    color: #4429f2;
    font-weight: bold;
    cursor: pointer;
}

.accordion {
    /*--bs-accordion-border-color: #4429f2;*/
    --bs-accordion-border-color: lightgray;
    --bs-accordion-active-bg: rgba(125, 121, 242, 0.2);
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-body-padding-y:0.65rem;
    --bs-accordion-btn-icon: none;
    --bs-accordion-btn-active-icon: none;
}

/* 결재라인 */
.rightSide, .leftSide {
    border: solid 1px rgba(68, 41, 242, 0.4);
    border-radius: 15px;
    padding: 30px;
    height: 715px;
}

.bookmarkLine{
    display: flex;
    flex-direction: row;
    background: rgba(125, 121, 242, 0.2);
    border: solid 1px rgba(68, 41, 242, 0.4);
    border-radius: 10px;
    align-items: center;
    padding: 10px;
    justify-content: space-evenly;
}

/* 중앙 버튼 */
.buttonGroup {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.arrowButton {
    border: solid 1px rgba(68, 41, 242, 0.4);
    background: none;
    --bs-btn-hover-bg: rgba(125, 121, 242, 0.2);
    --bs-btn-active-bg:#4429f2;
    height: 50px;
    margin: 5px 0;
}

/* 테이블 */
.tableContainer {
    margin: 50px auto;
    width: 500px;
}

.tableHead th {
    color: #4429f2;
    font-weight: bold;
    font-size: 18px;
    background: rgba(125, 121, 242, 0.2);
    text-align: center;
}

tr {
    justify-content: center;
    margin: auto;
    text-align: center;
}

/*.search {*/
/*    width: 200px;*/
/*    margin-bottom: 10px;*/
/*    float: right;*/
/*}*/

/*.searchButton {*/
/*    --bs-btn-bg:#4429f2;*/
/*    --bs-btn-border-color:#4429f2;*/
/*    --bs-btn-hover-bg: rgba(125, 121, 242, 0.9);*/
/*    --bs-btn-hover-border-color: none;*/
/*    --bs-btn-active-bg:#4429f2;*/
/*    --bs-btn-active-border-color:#4429f2;*/
/*}*/
