.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.formContainer {
    width: 470px;
    height: 100%;
    background-color: rgba(68, 41, 242, 0.13);
    padding: 60px 30px;
}

/* 양식 선택영역 */
.dropToggle {
    --bs-btn-bg: #4429f2;
    --bs-btn-border-color: #4429f2;
    --bs-btn-active-bg: #4429f2;
    --bs-btn-active-border-color: #4429f2;
    --bs-btn-hover-bg: #4429f2;
    --bs-btn-hover-border-color: #4429f2;
}

.dropMenu {
    --bs-dropdown-link-active-bg: rgba(125, 121, 242, 0.9);
}

/* 결재라인 선택영역 */
.documentSelect, .select {
    margin-bottom: 50px;
}

.title {
    font-weight: bold;
    font-size: 20px;
    color: #4429f2;
    display: flex;
    flex-direction: row;
}

.title img {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-left: 15px;
}

h3 {
    color: #4429f2;
    margin-bottom: 20px;
    font-weight: bold;
}

.selectContainer input {
    width: 400px;
    height: 150px;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: -3px 3px 10px 2px gainsboro inset;
}

.buttonGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    color: white;
    background: #4429f2;
    border: 1px solid #4429f2;
    --bs-btn-hover-bg:#c32d04;
    --bs-btn-hover-border-color:#c32d04;
    --bs-btn-active-bg:#c32d04;
    --bs-btn-active-border-color:#c32d04;
}


/* 결재문서 영역 */
.document {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    height: 100%;
    background: darkgray;
}