.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/* 양식 선택, 버튼 */
.dropMenu {
    --bs-dropdown-link-active-bg: rgba(125, 121, 242, 0.9);
}

.upperContainer {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}
.upperContainer Button {margin: 0 10px}

.select {
  display: flex;
    flex-direction: row;
}

.buttonGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.divisionLine {
    border-bottom: 1px solid lightgray;
    width: 100%;
}

/* 아래 */
.lowerContainer {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 30px);
    height: 100%;
    margin: 10px;
    padding: 10px;
    border: 3px solid #e3e3e3;
}
.categoryTitle {
    height: 70px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding: 20px;
}
.categoryTitle p {margin: 0;}

/* 기안관련 */
.signTable {
    display: flex;
    margin: 0 140px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.signTableLeft_title {
    border: 1px solid #000000;
    background: #f4f5f5;
    width: 120px;
    text-align: center;
    font-weight: bold;
    padding: 3px;
}
.signTableLeft_content{
    border: 1px solid #000000;
    width: 150px;
    padding-left: 15px;
    text-align: left;
}

/* 결재라인 */
.signTableRight_title {
    width: 30px;
    border: 1px solid #000000;
    background: #f4f5f5;
    text-align: center;
}
.signTableRight_content {
    padding: 0;
    margin: 0;
    width: 105px;
    border: 1px solid #424242;
}
.signInfo {
    background: #f4f5f5;
    width: 105px;
    height: 24px;
    text-align: center;
}
.sign {
    height: 100px;
    width: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}
.sign img {
    width: 65px;
}

/* 참조 */
.referTable {
    border: 1px solid #000000;
    height: 26px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.referTitle {
    border-right: 1px solid #000000;
    width: 135px;
    background: #f4f5f5;
    box-sizing: inherit;
    font-weight: bold;
    text-align: center;
}
.referContent {
    padding-left: 15px;
    text-align: left;
}

 /* 에디터 */
.editorContainer {
    height: 750px;
    display: flex;
    flex-direction: column;
    margin: 10px 115px;
    justify-content: center;
}
.documentTitle {
    display: flex;
    flex-direction: row;
    align-items: baseline
}
.documentTitle p {
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
}
.documentTitle input {
    width: calc(100% - 70px);
}

.ck-editor__editable {
    height: 500px;
}