
.underline {
    font-size: 18px;
    text-decoration: none;
    line-height: 1.4;
    background-image: linear-gradient(transparent calc(100% - 3px), #000 3px);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.3s;
    cursor: pointer;
    margin-left: 20px;
}
.underline:hover, .active {
    font-weight: 700;
    background-size: 100% 100%;
}
.underline.orange {
    color: #fa3e0c;
    background-image: linear-gradient(transparent 50%, rgba(250, 62, 12, 0.21));
}
.underline.blue {
    color: #4429f2;
    background-image: linear-gradient(transparent 50%, rgba(125, 121, 242, 0.37));
}
