.wrapper {
    background: rgba(224, 224, 224, 0.2);
    width: 300px;
    height: 100%;
}

/* 프로필영역 */
.profileContainer {
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    background: rgba(68, 41, 242, 0.15);
    border-radius: 10px;
    border: solid 1px rgba(68, 41, 242, 0.4);
}

.profile img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: solid 3px rgba(68, 41, 242, 0.4);
}
.profile p {
    margin-block-end: 0;
    padding: 5px 0;
    font-weight: bold;
}

/* 메뉴 */
.menuContainer {
    height: 60%;
    display: flex;
    flex-direction: column;
}

.menu img {
    width: 40px;
    height: 40px;
}
.menu p {
    font-weight: bold;
    color: #4429f2;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-left: 20px;
}
.mng {
    --bs-accordion-active-bg: rgba(250, 62, 12, 0.21);
}
.mng p {
    color: #fa3e0c;
}

.underline {
    font-size: 18px;
    text-decoration: none;
    line-height: 1.4;
    background-image: linear-gradient(transparent calc(100% - 3px), #000 3px);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.3s;
    cursor: pointer;
}
.underline:hover, .active {
    font-weight: 700;
    background-size: 100% 100%;
}
.underline.orange {
    color: #fa3e0c;
    background-image: linear-gradient(transparent 50%, rgba(250, 62, 12, 0.21));
}
.underline.blue {
    color: #4429f2;
    background-image: linear-gradient(transparent 50%, rgba(125, 121, 242, 0.37));
}

.accordion {
    --bs-accordion-border-color: none;
    --bs-accordion-btn-bg: #F6F6F6;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-active-bg: rgba(125, 121, 242, 0.37);
    --bs-accordion-btn-padding-x:4rem;
    --bs-accordion-body-padding-x:4rem;
    --bs-accordion-btn-padding-y:0.7rem;
    --bs-accordion-body-padding-y:0.5rem;
}
