.container {
    display: flex;
    flex-direction: row;
}

.mainMenu {
    padding: 20px;
    margin: 20px 10px;
    display: flex;
    flex-direction: column;
    background-color: rgba(125, 121, 242, 0.37);
    width: 120px;
    height: 220px;
    border-radius: 20px;
}

.mainMenu:first-child {
    margin-left: 40px;
}

.icon{
    width: 60px;
    height: 60px;
    padding: 10px 20px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.divisionLine{
    border-top: 1px solid #9b9b9d;
    margin: 20px auto;
    width: 100px;
}

.mainLink {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.mainLink a {
    text-decoration: none;
    padding-bottom: 10px;
    color: #4429f2;
}


