.wrapper {
    border: solid 1px rgba(68, 41, 242, 0.6);
    border-radius: 15px;
    width: 25%;
    min-width: 600px;
    height: 350px;
    margin: 30px;
}

.title {
    justify-content: space-between;
    border-bottom: solid 1px rgba(68, 41, 242, 0.6);
    background: rgba(125, 121, 242, 0.2);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 5px 20px;
}
.titleText {
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}
.boardLink{
    font-weight: bold;
    color: #4429f2;
    margin: 0;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    overflow: auto;
}

.divisionLine {
    border-left: 1px solid #9b9b9d;
    margin: auto 10px;
    height: 120px;
}

.tableBody {
    width: 100%;
    cursor: pointer;
}

.tableBody td {
    margin-bottom: 10px;
}