.wrapper {
    background: rgba(224, 224, 224, 0.3);
    width: 550px;
    height: 270px;
    margin: 50px 50px;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px auto;
}

.notice {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 0 20px;
}

.notice a {
    font-size: 40px;
    text-decoration: none;
    color: #4429f2;
}

.divisionLine {
    border-left: 1px solid #9b9b9d;
    margin: auto 10px;
    height: 120px;
}

