.profile {
    margin: 40px 40px;
}

.profile h5 {
    color: black;
    margin: 10px 0;
}

.container {
    width: 350px;
    height: 230px;
    background-color: rgba(68, 41, 242, 0.11);
    display: flex;
    flex-direction: row;
}

.profileImg img {
    width: 120px;
    height: 150px;
    margin: 35px;
}

.info {
    color: black;
    font-size: 15px;
    margin: 50px 10px;
}