.profile {
    margin: 40px 40px;
}

.hello {
    display: flex;
    flex-direction: row;
    color: black;
    font-size: 20px;
}

.container {
    width: 350px;
    height: 230px;
    /*background-color: rgba(68, 41, 242, 0.05);*/
    display: flex;
    flex-direction: row;
    border: solid 1px rgba(68, 41, 242, 0.6);
    border-radius: 15px;
}

.profileImg img {
    width: 120px;
    height: 150px;
    margin: 35px;
    border: solid 3px rgba(68, 41, 242, 0.4);
}

.info {
    color: black;
    margin: 50px 10px;
}