.modal {
    --bs-modal-border-color: #fa3e0c;
    --bs-modal-header-border-color: #fa3e0c;
}
.modalHeader {
    color: white;
    background:#fa3e0c;
}

.partHeader {
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-active-bg: rgba(250, 62, 12, 0.08);
    --bs-accordion-active-color:#fa3e0c;
}

.position {
    margin: 0 0 0 16px;
    padding: 16px 20px;
    border: 1px solid #dee2e6;
    border-radius: 10px;
}
.position:hover {
    background: rgba(250, 62, 12, 0.08);
}

.button {
    margin: 20px 10px 10px 0;
}