.wrap {
    --bs-modal-width: 600px;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    width: 500px;
}

.tableContainer {
    max-height: 350px;
    overflow: auto;
}

.tableHead th {
    color: #fa3e0c;
    font-weight: bold;
    font-size: 23px;
    background: rgba(250, 62, 12, 0.08);
    text-align: center;
}

.tableBody td {
    text-align: center;
}

.lowerContainer {
    display: flex;
    justify-content: space-between;
    align-items: baseline
}

.search {
    margin: 0;
    width: 220px;
}

