.wrapper {
    background: url('../IMAGES/login.jpg') no-repeat center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.container {
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    display: flex;
}

.loginContainer {
    background: rgba(0, 0, 0, 0.93);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    height: 350px;
    padding: 60px;
}

.title {
    color:#FFFFFF;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}

.inputWrap {
    width: 300px;
    padding-top: 30px;
}

.m10 {
    margin: 10px 0;
}

.button {
    text-align: center;
    width: 300px;
    height: 45px;
    color: #000000;
    --bs-btn-bg:#afb0b1;
    --bs-btn-hover-bg:#afb0b1;
    --bs-btn-active-bg:#afb0b1;
    --bs-btn-color:#000000;
    --bs-btn-active-color:#000000;
    background: #afb0b1;
    border:none ;
}
.button:hover {
    background: linear-gradient(90deg, rgba(194,117,245,1) 0%, rgba(112,34,171,1) 44%, rgba(14,5,187,1) 100%);
    border:none ;
}

.alert {
    position: absolute;
    width: 300px;
    height: 50px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    right: calc(50% - 150px);
    bottom: calc(50% + 200px);
    --bs-alert-bg: #e82139;
    --bs-alert-color: white;
    --bs-alert-border-color: #e82139;
}
