/* 테이블 영역 */
.table {
    margin: 0;
}

.tableHead th {
    color: #4429f2;
    font-weight: bold;
    font-size: 23px;
    background: rgba(68, 41, 242, 0.11);
    text-align: center;
}

.tableBody td{
    cursor: pointer;
    text-align: center;
}

.stateButton {
    min-width: 70px;
    border-radius: 20px;
    text-align: center;
    padding: 4px 8px;
}