.headerTitle {
    padding: 5px 20px;
    font-size: 30px;
    font-weight: bold;
}

.headerTitle a {
    text-decoration: none;
    color: #4429f2;
}

.headerLine {
    background-color: #4429f2;
    color: white;
    font-weight: bold;
    height: 40px;
}

.headerLine p {
    justify-content: center;
    padding: 5px 40px;
    margin: 0;
}
