.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.buttonContainer {
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.divisionLine {
    border-bottom: 1.5px solid #4429f2;
    width: 600px;
}

.buttonGroup {
    display: flex;
    justify-content: center;
}

.buttonGroup label {
    border: none;
    border-radius: 0;
    background: rgba(68, 41, 242, 0.11);
    color: #4429f2;
    font-size: 20px;
}

.button {
    --bs-btn-bg: rgba(68, 41, 242, 0.7);
    --bs-btn-active-bg:#4429f2;
    border-bottom: 1px solid #4429f2;
}

/* 검색창 */
.search {
    width: 25%;
    float: right;
}
.searchButton {
    --bs-btn-bg:#4429f2;
    --bs-btn-border-color:#4429f2;
    --bs-btn-hover-bg: rgba(68, 41, 242, 0.7);
    --bs-btn-hover-border-color: none;
    --bs-btn-active-bg:#4429f2;
    --bs-btn-active-border-color:#4429f2;
}

/* 테이블 영역 */
.table {
    margin: 0;
}

.tableContainer {
    width: 85%;
    height: 70%;
}

.tableHead th {
    color: #4429f2;
    font-weight: bold;
    font-size: 23px;
    background: rgba(68, 41, 242, 0.11);
    text-align: center;
}

.tableBody tr{
    vertical-align: center;
    cursor: pointer;
    text-align: center;
}

.stateButton {
    width: 70px;
    border-radius: 20px;
    text-align: center;
    padding: 4px;
}

/* 페이지네이션 */
.pagination {
    height: 15%;
}

.pagination li{
    --bs-pagination-color: #4429f2;
    --bs-pagination-hover-color: #180882;
    --bs-pagination-focus-color: white;
    --bs-pagination-focus-bg: #4429f2;
    --bs-pagination-focus-box-shadow: none;
}

