.wrapper {
    height: 100%;
    width: 100%;
}

.divisionLine {
    border-bottom: 1.5px solid #4429f2;
    margin: 10px auto;
    width: 600px;
}

.buttonGroup, .pagination {
    display: flex;
    justify-content: center;
}

.buttonGroup label {
    border: none;
    border-radius: 0;
    background: rgba(68, 41, 242, 0.11);
    color: #4429f2;
    font-size: 20px;
    padding: 5px 30px;
}

.button {
    --bs-btn-bg: rgba(68, 41, 242, 0.7);
    --bs-btn-active-bg:#4429f2;
    border-bottom: 1px solid #4429f2;
}

.search {
    width: 30%;
    float: right;
}

.searchButton {
    --bs-btn-bg:#4429f2;
    --bs-btn-border-color:#4429f2;
    --bs-btn-hover-bg: rgba(68, 41, 242, 0.7);
    --bs-btn-hover-border-color: none;
    --bs-btn-active-bg:#4429f2;
    --bs-btn-active-border-color:#4429f2;
}

.tableContainer {
    margin: 50px 100px;
    width: 80%;
    height: 900px;
}

.tableHead th {
    color: #4429f2;
    font-weight: bold;
    font-size: 23px;
    background: rgba(68, 41, 242, 0.11);
}

tr {
    justify-content: center;
    margin: auto;
}

.stateButton {
    background: orange;
}

.ongoing{
    color: orange;
}

.completed{
    color: green;
}

.return {
    color:red;
}

.pagination li{
    --bs-pagination-color: #4429f2;
    --bs-pagination-hover-color: #180882;
    --bs-pagination-focus-color: white;
    --bs-pagination-focus-bg: #4429f2;
    --bs-pagination-focus-box-shadow: none;
}

